@-webkit-keyframes fadeIn {
  to {
    opacity: 1; } }
@keyframes fadeIn {
  to {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  to {
    opacity: 0; } }
@keyframes fadeOut {
  to {
    opacity: 0; } }
.logo {
  display: none; }

#forecast-container {
  height: 54%;
  width: 100%;
  position: relative; }
  #forecast-container #forecast {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 6px;
    padding-right: 12px;
    color: whitesmoke;
    text-align: right;
    /*font-size: 24px;*/
    background: rgba(0, 0, 0, 0.7);
    letter-spacing: .1em;
    -webkit-animation: fadeIn .5s ease-in 1 forwards;
    animation: fadeIn .5s ease-in 1 forwards;
    opacity: 0; }
    #forecast-container #forecast button {
      color: #8a8a8a; }
    #forecast-container #forecast p {
      margin: 0; }
    #forecast-container #forecast canvas {
      height: 30%;
      /* width: 30%; */
      position: absolute;
      top: 8%;
      left: 0;
      padding: 0; }
    #forecast-container #forecast .temp {
      font-size: 36px;
      font-weight: normal;
      font-family: "Roboto Condensed", sans-serif; }
    #forecast-container #forecast .conditions {
      font-size: 18px;
      font-weight: normal;
      font-family: "Roboto Condensed", sans-serif;
      text-transform: uppercase;
      margin: 0; }
    #forecast-container #forecast .realtime {
      font-family: "Roboto Condensed", sans-serif !important;
      text-transform: uppercase !important; }

/*Google Maps Styling*/
#map {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-animation: fadeIn .5s ease-in 1 forwards;
  animation: fadeIn .5s ease-in 1 forwards;
  opacity: 0; }

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

#description {
  font-size: 15px;
  font-weight: 300; }

#infowindow-content .title {
  font-weight: bold; }

#infowindow-content {
  display: none; }

#map #infowindow-content {
  display: inline; }

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto; }

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px; }

.pac-controls {
  display: inline-block;
  padding: 5px 11px; }

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px; }

#pac-input:focus {
  border-color: #b0d5ce; }

#title {
  color: #fff;
  background-color: #b0d5ce;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px; }

#target {
  width: 345px; }

/* main styling */
body {
  background: rgba(0, 0, 0, 0.9) !important;
  /*text-align: center !important;*/
  color: whitesmoke !important;
  font-weight: lighter;
  -webkit-animation: fadeIn .5s ease-in 1 forwards;
  animation: fadeIn .5s ease-in 1 forwards;
  opacity: 0; }
  body h1 {
    color: whitesmoke !important;
    letter-spacing: .1em !important;
    font-size: 44px !important;
    font-family: "Raleway", sans-serif !important;
    text-transform: uppercase !important; }
  body button {
    font-family: "Roboto Condensed", sans-serif !important;
    text-transform: uppercase !important;
    background: none;
    border: none; }
  body #weather-form {
    margin: 0 auto;
    text-align: center !important;
    padding: 24px; }
    body #weather-form label {
      font-weight: normal !important;
      font-size: 18px !important;
      color: #8a8a8a !important; }
    body #weather-form input {
      margin: 12px auto !important;
      color: #3d3d3d !important; }
  body footer {
    position: relative !important;
    width: 100% !important; }
    body footer .user-auth-buttons {
      position: absolute;
      left: 10px;
      width: 50%;
      padding-top: 9px; }
    body footer #dark-sky {
      width: 200px;
      position: absolute;
      right: 0; }
  body .modal {
    display: block !important;
    position: absolute !important;
    z-index: 1000 !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto !important;
    background-image: url("../images/static.png");
    -webkit-animation: fadeIn .5s ease-in 1 forwards;
    animation: fadeIn .5s ease-in 1 forwards;
    opacity: 0; }
  body .modal-content {
    background-color: rgba(0, 0, 0, 0.6) !important;
    position: absolute;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    padding: 36px !important;
    font-size: 18px;
    text-align: center;
    color: whitesmoke !important; }
    body .modal-content p {
      padding: 80px 0; }
    body .modal-content * {
      padding: 12px; }
  body .btn {
    background: none !important;
    border: none !important; }
  body .login-modal > span, body .register-modal > span, body .chart-container > span {
    position: absolute;
    top: 0;
    right: 10px;
    font-weight: 100;
    font-size: 66px;
    color: whitesmoke; }
  body .login-modal > input, body .register-modal > input {
    background: rgba(0, 0, 0, 0.8);
    padding: 18px;
    margin: 18px;
    border-radius: 5px;
    border: 2px solid #757575; }
  body .btn:hover {
    color: #757575 !important; }
  body .login-modal, body .register-modal {
    padding-top: 100px;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  body .chart-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%; }
  body #weather-chart {
    position: relative;
    margin: 30px auto;
    width: 400px; }
  body .login-modal > .submit, body .register-modal > .submit {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    border: none;
    background: none;
    margin-bottom: 0; }
  body .small {
    margin-top: 0 !important; }
  body .locations-data {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    font-weight: lighter;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    font-size: 14px;
    text-align: center;
    color: whitesmoke; }
    body .locations-data .location {
      text-align: left;
      padding: 36px; }
      body .locations-data .location .name {
        font-family: "Raleway", sans-serif;
        font-size: 18px; }
      body .locations-data .location .temp {
        font-size: 36px;
        font-weight: normal;
        font-family: "Roboto Condensed", sans-serif; }
      body .locations-data .location .conditions {
        font-size: 18px;
        font-weight: normal;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase; }
        body .locations-data .location .conditions small {
          padding-left: 12px !important;
          color: #757575 !important; }
      body .locations-data .location .realtime {
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase; }
    body .locations-data span {
      position: absolute;
      top: 0;
      right: 10px;
      font-weight: 100;
      font-size: 66px;
      color: whitesmoke; }
  body .forget {
    font-family: "Roboto Condensed", sans-serif !important;
    color: #8a8a8a !important;
    font-size: 24px !important;
    text-transform: uppercase !important; }
  body .forget:hover {
    color: #757575; }
  body .close-details {
    padding-left: 30px;
    font-size: 30px;
    color: #8a8a8a; }

@media only screen and (min-width: 950px) {
  body .logo {
    display: block;
    position: absolute;
    color: whitesmoke;
    font-family: "Raleway", sans-serif;
    font-size: 102px;
    top: 33%;
    left: 12%;
    text-transform: uppercase; }
  body button {
    font-size: 24px !important;
    color: rgba(255, 138, 142, 0.7); }
  body .btn {
    font-size: 36px; }
  body .login {
    position: fixed;
    top: 48px;
    left: 48px; }
  body .logout {
    position: fixed;
    top: 48px;
    left: 48px; }
  body #forecast {
    width: 48% !important;
    left: 48px !important;
    font-size: 24px !important;
    background: none !important; }
  body #weather-chart {
    border: 2px solid #8a8a8a !important; }
  body #weather-form {
    margin: 40px 48px auto auto !important;
    width: 42% !important; }
    body #weather-form label {
      font-size: 24px !important;
      text-transform: uppercase; }
    body #weather-form input {
      height: 48px !important;
      width: 260px !important; }
  body #map {
    width: 42% !important;
    right: 48px !important;
    left: auto !important;
    border: 2px solid #8a8a8a;
    box-shadow: 1px 1px 0 #757575, 1px 1px 1px #757575; }
  body #dark-sky {
    width: 360px !important;
    right: 48px !important; }
  body .locations-data {
    background: rgba(0, 0, 0, 0.9) !important; }
    body .locations-data span {
      left: 48px;
      right: auto; }
    body .locations-data .location {
      padding: 90px 12px 24px 90px !important; }
    body .locations-data .name {
      font-size: 30px !important; }
    body .locations-data .temp {
      font-size: 72px !important; }
    body .locations-data .conditions {
      font-size: 24px !important; }
    body .locations-data .realtime {
      font-weight: lighter !important;
      text-transform: none !important;
      font-family: "Arial", sans-serif !important;
      font-size: 24px !important; }
  body .login-modal, body .register-modal {
    background: rgba(0, 0, 0, 0.9) !important; }
    body .login-modal span, body .register-modal span {
      left: 48px;
      right: auto; }
  body .modal {
    width: 53% !important;
    background: white !important; }
    body .modal button {
      font-size: 24px !important; }
    body .modal .login-modal input, body .modal .register-modal input {
      font-size: 24px !important; }
    body .modal .login-modal .submit, body .modal .register-modal .submit {
      font-size: 24px !important; }
    body .modal .modal-content {
      padding-top: 66px !important;
      width: 53% !important;
      box-shadow: none;
      border-radius: 0 !important;
      background: rgba(0, 0, 0, 0.9) !important; }
      body .modal .modal-content h1 {
        font-size: 66px !important;
        font-weight: 100 !important; }
      body .modal .modal-content p {
        font-size: 28px; }
      body .modal .modal-content button {
        margin: 20px !important;
        border: 1px solid #757575 !important;
        width: 236px !important; }
      body .modal .modal-content button:hover {
        background: rgba(255, 255, 255, 0.3) !important;
        color: black !important; } }

/*# sourceMappingURL=main.css.map */
